:root {
  --mainpurple: #5A2962;
  --danger: #ff0000;
}
@font-face {
  font-family: HelveticaBold;
  src: url('./fonts/Helvetica-Bold-Font.ttf');
  font-weight: bold;
}
@font-face {
  font-family: HelveticaLight;
  src: url('./fonts/helvetica_light.ttf');
  font-weight: light;
}
@font-face {
  font-family: HelveticaLightItalic;
  src: url('./fonts/Helvetica-Light-Oblique-font.ttf');
  font-weight: light;
}
body {
  font-size: 1.25rem!important;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 1rem!important;
  }
}
.purple {
  color: var(--mainpurple);
}
.banner .col-md-12 {
  padding: 0;
}
.helvetica-bold,
strong {
  font-family: HelveticaBold;
}
.helvetica-light {
  font-family: HelveticaLight;
}
.content-1 .content-header,
.penting {
  font-size: 4.0625rem;
}
@media only screen and (max-width: 767px) {
  .content-1 .content-header,
  .penting {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 575px) {
  .content-1 .content-header,
  .penting {
    font-size: 2.125rem;
  }
}
.content-1 .subtitle {
  color: #000;
}
@media only screen and (max-width: 767px) {
  .content-1 .subtitle {
    font-size: 1.625rem;
  }
}
@media only screen and (max-width: 575px) {
  .content-1 .subtitle {
    font-size: 1.5rem;
  }
}
.letter-content p {
  font-size: 1.25rem;
}
.letter-list li {
  font-family: HelveticaBold;
  font-size: 1.25rem;
  border: none;
  padding: .75rem 0rem
}
.content-4 .letter-list li {
  font-family: HelveticaLight
}
.letter-list li img {
  margin-right: 20px;
}
.content:not(.content-1) .content-header {
  font-size: 3.125rem;
}
@media only screen and (max-width: 768px) {
  .content:not(.content-1) .content-header {
    font-size: 2.125rem;
  }
}
@media only screen and (max-width: 575px) {
  .content:not(.content-1) .content-header {
    font-size: 2rem;
  }
}
.danger {
  color: var(--danger);
}
.btn-big {
  border-radius: 50px!important;
  font-size: 3.125rem!important;
  text-transform: uppercase!important;
  font-family: HelveticaBold;
  padding: 1.25rem 2rem!important;
}
.disclamer p {
  font-size: 1.125rem;
}
.helveticaLightItalic {
  font-family: HelveticaLightItalic;
}
@media only screen and (max-width: 767px) {
  .btn-big {
    font-size: 1.625rem!important;
  }
}
@media only screen and (max-width: 575px) {
  .btn-big {
    font-size: 1.5rem!important;
  }
}